@using Eating2.Business.ViewModels
@model List<FoodViewModel>

<div>
   <h3>Gần tôi</h3>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-xs-6 col-md-3 col-lg-2 ">
            <div class="card image-bordered btn btn-default" style="width: 195px; padding:4px 4px 4px 4px" onclick="@("window.location.href='" + @Url.Action("DetailsForUser", "User", new { Id = item.ID }) + "'");">
                <div class="table-bordered">
                    <img class="card-img-top" src="@Url.Content(item.FoodPictureURL)" alt="Image Food" width="175" height="170">

                    <div class="card-block" style="padding:3px; background-color:#f5efd1; ">

                        <h4 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h4>

                        <p class="card-text" style="color:orangered"> @String.Format("{0:0,0đ}", item.Cost)</p>

                        <p class="card-text"> @Html.DisplayFor(modelItem => item.StoreNameDisplayOnly)</p>

                        <p class="card-text" style=""><b>Khu vực: @Html.DisplayFor(modelItem => item.DistrictDisplayOnly)</b></p>

                        <p class="card-text" style="display:inline">
                            @String.Format("{0:0.00}", item.AveragePoint) <div style="display:inline">♥   (</div>
                            @Html.DisplayFor(modelItem => item.NumberOfRate)<div style="display:inline"> lượt)</div>
                        </p>


                    </div>
                </div>
            </div>

            
        </div>
    }
</div>


<div style="text-align:right">
    <h5>@Html.ActionLink("Xem thêm...", "NearAreaRecomment", "Home", new { district = "Cầu Giấy"}, null)</h5>
</div>
<hr />