@model Eating2.Business.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Thay đổi thông tin tài khoản của bạn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>
           @Model.Email
        </dd>

        @*<dt>Your Name</dt>*@
        @*<dd>
            @Model.DisplayName
            @Html.DisplayFor(model => model.DisplayName)
            [
            @Html.ActionLink("Change Name", "EditDisplayName")
            ]
        </dd>*@
        
        @*<dt>
            @Html.DisplayNameFor(model => model.UserRoles)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.UserRoles)
            [
            @Html.ActionLink("Change Role", "EditUserRole")
            ]
        </dd>*@


        <dt>Mật khẩu</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Đổi mật khẩu", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

       
       
    </dl>
</div>
