@using Eating2.Business.ViewModels
@model FoodViewModel
@{
    ViewBag.Title = "Thay đổi thông tin món ăn";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Thay đổi thông tin món ăn</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Name</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                <p>Đơn vị: VNĐ</p>
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group", >
            @Html.LabelFor(model => model.StoreNameDisplayOnly, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoreNameDisplayOnly, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.StoreNameDisplayOnly, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" ,>
            @Html.LabelFor(model => model.Recipe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Recipe, 3, 50, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Recipe, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thông tin" class="btn btn-default" name="@ViewBag.beforePage" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Quay lại danh sách", "Details", "Store", new {id = Model.StoreID }, null)
</div>
