@using Eating2.Business.ViewModels;
@model List<FoodViewModel>
@{
    ViewBag.Title = "Trang chủ món ăn";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>
            <h4>Tên món ăn</h4>
        </th>
        <th>
            <h4>Giá </h4>
        </th>
        <th>
            <h4>Số nhận xét</h4>
        </th>
        <th>
            <h4>Tác vụ</h4>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Format("{0:0,0 VNĐ}",item.Cost)
                @*@Html.DisplayFor(modelItem => item.Cost)*@    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRate)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>


